<!--Interpolaçao impressoa de atributos e muito-->
<!--<span> Aula de {{ title }}</span>
<h2>Curso de {{ curso }}</h2>-->
<app-propertybinding></app-propertybinding>
<br>
<!--<app-eventbinding></app-eventbinding>
<br>
<br>
<app-twowaydatabinding></app-twowaydatabinding>
<app-classbinding></app-classbinding>
<!--imprimindo o input pai principal
<app-input [principal]="principal"></app-input>-->

<!--<h2>Angular é o melhor framework de javascript?</h2>
interpolaçao dos valores concorda e naoConcorda
<h3>Quantidade que concordam: {{ concordo }} <br>
  Quantidade que não concordam: {{ naoConcordo }}</h3>-->

<!--Recebendo valor do filho e imprimindo e o evento-->
<!--<app-output *ngFor="let votante of votantes" (enviaVoto)="foiVotado($event)"></app-output>-->
<!--<app-ngif></app-ngif>
<app-ngfor></app-ngfor>
<app-ngswitch></app-ngswitch>-->
<!--<app-lifecycle [life]="life"></app-lifecycle>-->
<!--<app-formulario></app-formulario>
<app-formularioreativos>
</app-formularioreativos>-->
<!--<app-formularioreativogrupo>
</app-formularioreativogrupo>-->
<app-formulariogrupoaninhado>
</app-formulariogrupoaninhado>
<app-formulariomodelo>
</app-formulariomodelo>
<app-pessoa></app-pessoa>